---
import Layout from '../layouts/Layout.astro';

const image = "/assets/images/pexels-lukas-590022-modified.jpg";
---

<Layout title="Multimo">
	<main>
		<div class="container my-24 px-6 mx-auto">

			<section class="mb-32 text-gray-800 text-center lg:text-left">
		
				<div class="md:px-6 py-12">
					<div class="container mx-auto xl:px-32">
						<div class="grid lg:grid-cols-2 items-center">
							<div class="md:mt-12 lg:mt-0 mb-12 lg:mb-0">
								<div class="relative block rounded-lg shadow-lg px-6 pt-12 pb-6 md:px-12 lg:-mr-14" style="
											background: hsla(0, 0%, 100%, 0.1);
											backdrop-filter: blur(15px);
											z-index: 1;
										">
									<h2 class="text-3xl font-bold mb-6">Why?</h2>
									<div class="text-gray-500 mb-6">
										With so many stores and inadequate support to navigate the prices, we came up with a website where you will be presented with incredible
										<span class="text-gray-600 font-bold">data visualizations</span>
										that will help you to make
										<span class="text-gray-600 font-bold">better and more conscious shopping decisions</span>.
									</div>
		
								</div>
							</div>
							<div class="md:mb-12 lg:mb-0">
								<img src={image} class="w-full rounded-lg shadow-lg rotate-lg-6 w-" alt="data visualization" />
							</div>
						</div>
					</div>
				</div>
			</section>
		
		</div>
	</main>
</Layout>

<style>
@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}
</style>
