---

const logo = '/favicon.png'

---


<section class="flex justify-center items-center sm:py-16 py-6 flex-col w-full">
  <div class="md:flex-row flex-col mb-8">
    <div class="flex-[1] flex flex-col justify-start mr-10">

      <p class="font-poppins font-normal text-sm text-dimWhite text-[18px] leading-[30.8px] mt-4 max-w-[312px]">
        <p class="flex-[1] flex flex-row font-bold content-center items-center justify-center">
          Copyright © 2022  
          <img
            src={logo}
            alt="multimo"
            class="w-5 h-5 object-contain px-1"
          />
          Multimo. All rights reserved.
        </p>
        <p class="text-center">Project is licensed under the <a class="text-slate-600 hover:text-slate-800" href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPLv3 license</a>.</p>
      </p>
    </div>
  </div>
</section>